# Исключить все файлы Thumbs.db
Thumbs.db

# Исключить все файлы .DS_Store
.DS_Store

# Игнорировать все файлы в каталоге tmp/
tmp/


# Игнорировать все файлы с суфиксом _old
*.*[_old]

# Игнорировать все файлы с суфиксом _backup
*.*[_backup]

Проигнорируйте файлы, находящиеся в подкаталоге tmp и файлы, заканчивающиеся суффиксами _old, _backup. Любые символы можно заменить символом звёздочка *.
Добейтесь чтобы также были проигнорированы файлы Thumbs.db и .DS_Store.